/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Quantico:wght@400;700&display=swap');

:root {
  /* Colors */
  --tradera-yellow: #D1EF69;
  --tradera-red: #FF4D4D;
  --tradera-blue-light: #9CCDDC;
  --tradera-blue-dark: #5591A9;
  --tradera-purple-dark: #8D52E9;
  --tradera-purple-light: #B07EFF;
  --tradera-grey-light:#8D8D8D;
  --tradera-grey: #1A191E;
  --tradera-dark-grey: #151419;
  --tradera-white: #ffffff;
  --tradera-border: #2C2B31;


  /* Fonts */
  --tradera-font-xSmall: 10px;
  --tradera-font-small: 12px;
  --tradera-font-medium: 15px;
  --tradera-font-large: 17px;
  --tradera-font-xlarge: 24px;
  --tradera-font-xxlarge: 36px;

  --tradera--border-radius: 10px;
  --tradera--border-radius-profile: 20px;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif !important;
  background-color: var(--tradera-dark-grey) !important;
  color: var(--tradera-white) !important;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Custom class for Quantico font */
.font-quantico {
  font-family: 'Quantico', sans-serif;
}

.mt-20 {
  margin-top: 20px !important;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.h100 {
  height: 100vh;
}

.pr-0 {
  padding-right: 0;
}

.pl-0 {
  padding-left: 0;
}

.align-item-center {
  align-items: center;
}

.text-grey {
  color: var(--tradera-grey-light);
}

/* =========== Modal =========== */

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: var(--tradera-dark-grey);
  background-clip: padding-box;
  border: 1px solid var(--tradera-border);
  border-radius: var(--tradera--border-radius);
  outline: 0;
}

.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 20px;
  /* border-bottom: 1px solid var(--tradera-border); */
  border-bottom: none;
  border-top-left-radius: var(--tradera--border-radius);
  border-top-right-radius: var(--tradera--border-radius);
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 20px;
}

.modal-footer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px 20px 20px;
  /* border-top: 1px solid var(--tradera-border); */
  border-top: none;
  border-bottom-right-radius: var(--tradera--border-radius);
  border-bottom-left-radius: var(--tradera--border-radius);
}

.modal-footer button {
  margin: 0 0 0 20px;
}

.modal-footer .btn {
  width: unset;
  display: inline-block;
}

.modal-footer .col {
  text-align: end;
}

.modal-title {
  color: var(--tradera-grey-light);
  font-weight: 100;
}

.modal-title span {
  color: var(--tradera-white);
  font-weight: 600;
}

.btn-close {
  --bs-btn-close-color: #000;
  --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23fff%27%3e%3cpath d=%27M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z%27/%3e%3c/svg%3e");
  --bs-btn-close-opacity: 0.5;
  --bs-btn-close-hover-opacity: 0.75;
  --bs-btn-close-focus-shadow: 0 0 0 0.25rem transparent;
  --bs-btn-close-focus-opacity: 1;
  --bs-btn-close-disabled-opacity: 0.25;
  --bs-btn-close-white-filter: invert(1) grayscale(100%) brightness(200%);
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: .25em .25em;
  color: var(--bs-btn-close-color);
  background: transparent var(--bs-btn-close-bg) center/1em auto no-repeat;
  border: 0;
  border-radius: .375rem;
  opacity: var(--bs-btn-close-opacity);
}

/* =========== Navbar =========== */
.sidenav {
  position: sticky;
  top: 18px;
  width: 100%;
  height: 100vh;
  color: var(--tradera-white);
  background-color: var(--tradera-dark-grey);
  font-weight: 400;
  line-height: 28.44px;
}

.btn-signout {
  width: 100%;
  color: var(--tradera-grey-light);
  border-radius: var(--tradera--border-radius);
  border: 1px solid var(--tradera-grey-light);
  margin-top: 20px;
}

.btn-signout:hover {
  color: var(--tradera-dark-grey);
  border-radius: var(--tradera--border-radius);
  border: 1px solid var(--tradera-red);
  background-color: var(--tradera-red);
  margin-top: 20px;
}

.sidenav-headings {
  color: var(--tradera-white);
  font-size: var(--tradera-font-small);
  font-weight: 400;
  text-decoration: none;
  margin-top: 40px;
  padding: 7px 0 7px 21px;
}

.sidenav a {
  color: var(--tradera-white);
  font-size: var(--tradera-font-medium);
  font-weight: 300;
  text-decoration: none;
  padding: 14px 21px 14px 21px;
  display: flex;
  align-items: center;
}

.sidenav a i {
  margin-right: 10px;
}

.sidenav a:hover {
  color: var(--tradera-white);
  /* font-weight: 700; */
}

.sidenav #mainLogo {
  margin-top: 28.86px;
  margin-bottom: 26.86px;
}

img, svg {
  vertical-align: unset !important;
}

.sidenav .nav-link.active {
  background: linear-gradient(to bottom, #2D2C34, #151419);
  border: 1px solid var(--tradera-border);
  border-radius: var(--tradera--border-radius);
  color: var(--tradera-blue-light);
}

.sidenav .nav-link:hover {
  background: var(--tradera-grey);
  border-radius: var(--tradera--border-radius);
  cursor: pointer;
  color: white;
}

.sidenav .nav-link {
  color: var(--tradera-grey-light);
  border: 1px solid transparent;
}

.usercontainder {
  background: linear-gradient(to bottom, #2D2C34, #151419);
  border: 1px solid var(--tradera-border);
  border-radius: var(--tradera--border-radius-profile);
  padding: 11px;
  display: flex;
  align-items: center;
}

.usercontainder #profileLogo {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-right: 13px;
  border: 1px solid #3D3C42;
}

.usercontainder-info {
  display: flex;
  flex-direction: column;
}

.usercontainder-username {
  color: var(--tradera-white);
  font-size: var(--tradera-font-medium);
  font-weight: 700;
  line-height: 21.94px;
}

.usercontainder-usertype {
  color: var(--tradera-grey-light);
  font-size: var(--tradera-font-small);
  font-weight: 400;
  line-height: 14.63px;
}

/* =========== Background styling for pages =========== */
.page-background {
  /* width: 100%; */
  height: calc(100vh - 40px);
  background-color: var(--tradera-grey);
  border-radius: var(--tradera--border-radius);
  padding: 20px;
  margin-top: 20px;
}

/* =========== Dashboard layout =========== */
.container {
  display: flex;
  height: 100%;
}

.row {
  display: flex;
  flex: 1;
}

.left-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: var(--tradera--border-radius);
  margin-right: 10px;
}

.left-column-large {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: var(--tradera--border-radius);
  margin-right: 10px;
}

.dashboard-balance-card {
  flex: 1;
  background: linear-gradient(to bottom right, var(--tradera-blue-light), var(--tradera-blue-dark));
  padding: 20px;
  border-radius: var(--tradera--border-radius);
  margin-bottom: 10px;
}

.left-bottom-row {
  flex: 2;
  background-color: var(--tradera-purple-light);
  padding: 20px;
  border-radius: var(--tradera--border-radius);
}

.right-column {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: var(--tradera--border-radius);
}

.right-column-small {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: var(--tradera--border-radius);
}

.dasboard-status-chart {
  border: 1px solid var(--tradera-border);
  border-radius: var(--tradera--border-radius);
  margin-bottom: 10px;
  /* padding: 0 20px; */
}

.bottom-row {
  display: flex;
  width: 100%;
}

.column-wrapper,
.bottom-right-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 10px;
}

.column-title {
  text-align: left;
  margin-bottom: 20px;
  background-color: var(--tradera-grey);
  border-radius: var(--tradera--border-radius);
}

.column-title .spesific {
  color: var(--tradera-grey-light);
}

.column-title .transactions {
  color: var(--tradera-white);
  font-weight: 600;
}

.bottom-left-column {
  margin-right: 10px;
}

.dashboard-transactions-chart {
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: var(--tradera--border-radius);
  border: 1px solid var(--tradera-border);
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.border-container {
  border-radius: var(--tradera--border-radius);
  border: 1px solid var(--tradera-border);
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.admin-left-container {
  display: flex;
  height: 100%;
  align-items: center;
  border-radius: var(--tradera--border-radius);
  border: 1px solid var(--tradera-border);
}

.card-container div {
  display: flex;
  align-items: center;
}

.card #cardLogo {
  width: 39px;
}

.cardbalance {
  color: var(--tradera-grey);
  font-size: var(--tradera-font-xxlarge);
  font-weight: 700;
  line-height: 21.94px;
  margin-left: 20px;
}

.cardnumber {
  color: var(--tradera-grey);
  font-size: var(--tradera-font-xlarge);
  font-weight: 700;
  line-height: 21.94px;
  margin-top: 20px;
}

.expiresdatecontainder {
  margin-top: 18px;
}

.expire-text,
.expire-data {
  margin: 0;
  padding: 0;
}

.expire-text {
  color: var(--tradera-grey);
  font-size: var(--tradera-font-medium);
  font-weight: 400;
}

.expire-data {
  color: var(--tradera-grey);
  font-size: var(--tradera-font-xlarge);
  font-weight: 400;
}

.account-status {
  color: var(--tradera-grey-light);
  font-size: var(--tradera-font-large);
  margin-bottom: 0;
}

.account-status span.active {
  color: var(--tradera-yellow);
  font-weight: 600;
}

.account-status span.frozen {
  color: var(--tradera-red);
  font-weight: 600;
}

.transactions-row {
  display: flex;
  flex: 1;
  border: 1px solid var(--tradera-border);
  border-radius: var(--tradera--border-radius);
  margin-bottom: 14px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center; /* Vertically centers content within the row */
}

.transactionsLogo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
}

.transactions-info {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
}

.transactions-name {
  font-size: var(--tradera-font-medium);
  font-weight: 700;
  line-height: 21.94px;
}

.transactions-useagetype {
  color: var(--tradera-white);
  font-size: var(--tradera-font-small);
  font-weight: 400;
  line-height: 14.63px;
  
}

.transactions-row2 {
  display: flex;
  flex: 1;
  border: 1px solid var(--tradera-border);
  border-radius: var(--tradera--border-radius);
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
}

.transactions-count-red,
.transactions-count-yellow {
  font-family: 'Quantico', sans-serif;
  font-size: 20px;
  margin-left: auto; 
  display: flex;
  align-items: center;
}

.transactions-count-yellow svg {
  margin-left: 10px
}

.transactions-count-red svg {
  margin-left: 10px
}

.transactions-count-red {
  color: var(--tradera-red);
}

.transactions-count-yellow {
  color: var(--tradera-yellow);
}

.btn-primary {
  padding: 15px 20px;
  font-family: 'Montserrat', sans-serif !important;
  font-size: var(--tradera-font-medium);
  color: var(--tradera-blue-light);
  border: 1px solid var(--tradera-blue-light);
  border-radius: var(--tradera--border-radius);
  background-color: transparent;
}

.btn-primary:hover {
  color: var(--tradera-dark-grey);
  border: 1px solid var(--tradera-blue-light);
  border-radius: var(--tradera--border-radius);
  background-color: var(--tradera-blue-light);
}

.btn-secondary {
  padding: 15px 20px;
  font-family: 'Montserrat', sans-serif !important;
  font-size: var(--tradera-font-medium);
  color: var(--tradera-yellow);
  border: 1px solid var(--tradera-yellow);
  border-radius: var(--tradera--border-radius);
  background-color: transparent;
}

.btn-secondary:hover {
  color: var(--tradera-dark-grey);
  border: 1px solid var(--tradera-yellow);
  border-radius: var(--tradera--border-radius);
  background-color: var(--tradera-yellow);
}

.btn-tertiary {
  padding: 15px 20px;
  font-family: 'Montserrat', sans-serif !important;
  font-size: var(--tradera-font-medium);
  color: var(--tradera-grey-light);
  border: 1px solid var(--tradera-grey-light);
  border-radius: var(--tradera--border-radius);
  background-color: transparent;
}

.btn-tertiary:hover {
  color: var(--tradera-dark-grey);
  border: 1px solid var(--tradera-grey-light);
  border-radius: var(--tradera--border-radius);
  background-color: var(--tradera-grey-light);
}

.btn-danger {
  padding: 15px 20px;
  font-family: 'Montserrat', sans-serif !important;
  font-size: var(--tradera-font-medium);
  color: var(--tradera-red);
  border: 1px solid var(--tradera-red);
  border-radius: var(--tradera--border-radius);
  background-color: transparent;
}

.btn-danger:hover {
  color: var(--tradera-dark-grey);
  border: 1px solid var(--tradera-red);
  border-radius: var(--tradera--border-radius);
  background-color: var(--tradera-red);
}

.btn i {
  margin-right: 10px;
}

/* components styling */

.search-container {
  display: flex;
  width: 100%;
  border-radius: var(--tradera--border-radius);
  align-items: center;
  margin: 0;
}

.search-input {
  background-color: var(--tradera-grey);
  color: var(--tradera-white);
  border: 1px solid var(--tradera-border);
  border-radius: var(--tradera--border-radius);
  padding: 10px 15px;
  font-size: var(--tradera-font-small);
  cursor: pointer;
  flex-grow: 1;
}

.search-input:active {
  background-color: var(--tradera-grey-light);
}

.search-button {
  background-color: var(--tradera-grey);
  color: var(--tradera-white);
  border: 1px solid var(--tradera-border);
  border-radius: var(--tradera--border-radius);
  padding: 10px 15px;
  font-size: var(--tradera-font-small);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 10px;
}

.search-button:active {
  background-color: var(--tradera-grey-light);
}

/* Admin user cards */

.admin-left-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  border-radius: var(--tradera--border-radius);
  border: 1px solid var(--tradera-border);
}

.admin-users-container {
  padding: 15px;
}

.admin-card {
  background-color: var(--tradera-yellow);
  border-radius: var(--tradera--border-radius);
  padding: 15px;
  margin-bottom: 15px;
  width: 100%;
  color: var(--tradera-grey);
}

.admin-card:last-child {
  margin-bottom: 0;
}

.admin-card-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.admin-card-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.admin-card-title {
  font-size: var(--tradera-font-large);
  font-weight: bold;
}

.admin-card-subtitle {
  font-size: var(--tradera-font-small);
  margin-left: auto;
}

.admin-card-body {
  display: flex;
  flex-direction: column;
}

.admin-card-balance {
  font-size: var(--tradera-font-xxlarge);
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 30px;
}

.admin-card-expiry {
  font-size: var(--tradera-font-medium);
}

/* Scrollbar styles for admin-left-container */
.admin-left-container::-webkit-scrollbar {
  width: 8px;
}

.admin-left-container::-webkit-scrollbar-track {
  background: var(--tradera-grey);
  border-radius: 4px;
}

.admin-left-container::-webkit-scrollbar-thumb {
  background: var(--tradera-grey-light);
  border-radius: 4px;
}

.admin-left-container::-webkit-scrollbar-thumb:hover {
  background: var(--tradera-blue-light);
}

/* For Firefox */
.admin-left-container {
  scrollbar-width: thin;
  scrollbar-color: var(--tradera-grey-light) var(--tradera-grey);
}

/* Admin button styles */
.admin-button-container {
  display: flex;
  width: 100%;
  gap: 10px;
  position: sticky;
  top: 0;
  padding: 10px 0;
  z-index: 1000;
  white-space: nowrap;
  padding: 15px;
  background-color: var(--tradera-grey);
  border-bottom: 1px solid var(--tradera-border);
  border-radius: var(--tradera--border-radius) var(--tradera--border-radius) 0 0;
}

.admin-button-container-delete-freeze {
  display: flex;
  width: 100%;
  gap: 10px;
  position: sticky;
  top: 0;
  
  z-index: 1000;
  white-space: nowrap;
}

.admin-button {
  background-color: var(--tradera-grey);
  color: var(--tradera-white);
  border: 1px solid var(--tradera-border);
  border-radius: var(--tradera--border-radius);
  padding: 10px 10px;
  font-size: var(--tradera-font-small);
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
  flex-shrink: 0;
}

.admin-button-delete {
  background-color: var(--tradera-grey);
  color: var(--tradera-white);
  border: 1px solid var(--tradera-border);
  border-radius: var(--tradera--border-radius);
  padding: 10px 10px;
  font-size: var(--tradera-font-small);
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
  flex-shrink: 0;
}

.admin-button-freeze {
  background-color: var(--tradera-grey);
  color: var(--tradera-white);
  border: 1px solid var(--tradera-border);
  border-radius: var(--tradera--border-radius);
  padding: 10px 10px;
  font-size: var(--tradera-font-small);
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
  flex-shrink: 0;
}

.admin-button:hover {
  background-color: var(--tradera-grey-light);
}

.admin-button.selected {
  background-color: var(--tradera-purple-light);
  color: var(--tradera-white);
  border-color: var(--tradera-purple-dark);
}

.admin-button i {
  margin-right: 5px;
}

.transactions-row {
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid var(--tradera-border);
  border-radius: var(--tradera--border-radius);
  margin-bottom: 10px;
}

.transactions-info {
  flex-grow: 1;
}

.transactions-username {
  font-size: var(--tradera-font-medium);
  color: var(--tradera-grey);
  font-weight: 600;
  margin-bottom: 3px;
}

.transactions-usertype {
  font-size: var(--tradera-font-small);
  color: var(--tradera-grey);
}

.transactions-count-red {
  color: var(--tradera-red);
  text-align: right;
}

.transactions-count-red p {
  margin: 0;
}

.transactions-count-yellow p {
  margin: 0;
}

.frozen-count-red {
  color: var(--tradera-red);
  text-align: right;
  font-size: var(--tradera-font-small);
  display: flex;
  align-items: center;
  margin: 0;
}

.frozen-count-red p {
  margin: 0;
}


/* =========== Login & Signup =========== */
.login-Heading{
  font-family: 'Quantico', sans-serif;
}

.signup-btn p {
  margin: 0;
}

.input-label {
  font-size: var(--tradera-font-medium);
  margin-bottom: 5px;
}

.signup-btn a.nav-link {
  display: unset;
  padding: 0;
  color: var(--tradera-grey-light);
  text-decoration: none;
  background: transparent;
  border: 0;
}

.signup-btn a.nav-link:hover {
  color: var(--tradera-yellow);
  cursor: pointer;
}

.signup-btn .nav-link.active {
  background: linear-gradient(to bottom, #2D2C34, #151419);
  color: var(--tradera-blue-light);
}

.signup-btn .nav-link {
  color: var(--tradera-grey-light);
}

.login-form-container-div{
  border-radius: var(--tradera--border-radius);
  border: 1px solid var(--tradera-border);
  align-self: center;
  padding: 40px 20px !important;
}

.form-submit-button {
  margin-top: 30px;
  background-color: var(--tradera-grey-light);
  color: var(--tradera-white);
  border: 1px solid var(--tradera-border);
  border-radius: var(--tradera--border-radius);
  padding: 10px 10px;
  font-size: var(--tradera-font-large);
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
  flex-shrink: 0;
  text-align: center;
}

.form-submit-button:hover {
  background-color: var(--tradera-yellow);
  color: var(--tradera-dark-grey);
}

.form-submit-button.selected {
  background-color: var(--tradera-purple-light);
  color: var(--tradera-white);
  border-color: var(--tradera-purple-dark);
}

.form-control {
  display: block;
  width: 100%;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--tradera-grey-light);
  appearance: none;
  background-color: var(--tradera-dark-grey);
  background-clip: padding-box;
  border: 1px solid var(--tradera-border);
  border-radius: var(--tradera--border-radius);
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control::placeholder {
  color: var(--tradera-grey-light);
}

.form-control:focus {
  color: var(--tradera-white);
  background-color: var(--tradera-dark-grey);
  border-color: var(--tradera-yellow);
  outline: 0;
  box-shadow: 0 0 0 0 transparent;
}

/* ===================== Home ===================== */
.home-eons-logo-container {
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

.home-eons-logo-container div {
  margin-right: 20px;
}

.home-eons-heading {
  color: var(--tradera-grey-light);
  font-size: var(--tradera-font-large);
  margin-bottom: 0;
}

.home-eons-price {
  font-size: var(--tradera-font-xxlarge);
  color: var(--tradera-white);
  font-weight: 600;
  margin-bottom: 0;
  line-height: 1;
}

.price-open-close {
  margin-bottom: 0;
  width: 100%;
  text-align: center;
  justify-content: space-around;
  display: flex;
}

.border-container-price {
  border-radius: var(--tradera--border-radius);
  border: 1px solid var(--tradera-border);
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.price-high {
  color: var(--tradera-yellow);
}

.price-low {
  color: var(--tradera-red);
}

.home-buttons {
  justify-content: space-between;
  display: flex;
  margin-top: 20px;
}

.home-buttons button {
  width: 48%;
  text-align: center;
  padding: 15px 20px;
}

.my-account-container p {
  font-size: var(--tradera-font-xlarge);
  margin-bottom: 0;
  display: flex;
}

.my-account-container i {
  font-size: 1rem;
}

.my-account-container button {
  text-align: center;
}

.icon-wrapper {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.home-transactions-row {
  display: flex;
  border: 1px solid var(--tradera-border);
  border-radius: var(--tradera--border-radius);
  margin-bottom: 10px;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
}

.home-transactions-row div {
  text-align: center;
  width: 25%;
  justify-content: center;
}

.home-transactions-row p {
  margin: 0;
}

.home-transactions-count-red {
  font-family: 'Quantico', sans-serif;
  font-size: 20px;
  align-items: center;
  display: flex;
  color: var(--tradera-red);
}

.home-transactions-count-green {
  font-family: 'Quantico', sans-serif;
  font-size: 20px;
  align-items: center;
  display: flex;
  color: var(--tradera-yellow);
}

.home-transactions-count-red p {
  margin-right: 10px;
  margin-bottom: 0;
}

.home-transactions-count-green p {
  margin-right: 10px;
  margin-bottom: 0;
}

.home-transactions-row-headings div {
  width: 25%;
  text-align: center;
}

.home-transactions-row-headings {
  background-color: var(--tradera-dark-grey);
  border-radius: var(--tradera--border-radius);
  margin-bottom: 10px;
}

.home-transactions-row-headings div {
  padding: 10px 0;
}
.home-transactions-row-headings p {
  margin: 0;
}

.home-transactions-row-headings {
  display: flex;
}

.price-chart-container {
  padding: 20px;
  border-radius: var(--tradera--border-radius);
  background-color: var(--tradera-dark-grey);
}

.modal-account-container p {
  font-size: var(--tradera-font-xlarge);
  margin-bottom: 0;
  display: flex;
}

.otp-input-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.otp-input {
  width: 50px;
  height: 60px;
  font-size: 24px;
  text-align: center;
  border: none;
  border-radius: 8px;
  background-color: var(--tradera-grey);
  color: var(--tradera-white);
}

.otp-input:focus {
  outline: 2px solid var(--tradera-blue-light);
  background-color: var(--tradera-dark-grey);
}